html, body {
    height: 100%;
}


table.hist-table {
    width:  100%;
    height: 80%;
}


tr.hist-caption {
    height: 20px;
}


tr.hist-count {
    height: 20px;
}


tr.hist-row {
    height: 100%;
}


td.hist-cell {
    vertical-align: bottom;
}


div.hist-div {
    width:  100%;
    background-color: #FF0000;
}


